<ul class="buttons footer">


  <li [class.active]="isPage1Active" class="circle">
    <button routerLink="/">
      <!-- The "active" class is bound to the "isPageXActive" property using Angular's property binding syntax. -->
      <p class="circle-label" [class.active-icon-home]="isPage1Active"><img class="img-bg" [class.active-icon-home]="isPage1Active" src="assets/vector-icon/home.png" alt="home"></p>
    </button>
  </li>


  <li [class.active]="isPage2Active" class="circle">
    <button routerLink="/add-task">
      <p class="circle-label" [class.active-icon-add]="isPage2Active"><img  class="img-bg" [class.active-icon-add]="isPage2Active" src="assets/vector-icon/add.png" alt="add"></p>
    </button>
  </li>


  <li [class.active]="isPage3Active" class="circle">
    <button routerLink="/history">
      <p class="circle-label" [class.active-icon-history]="isPage3Active"><img class="img-bg" [class.active-icon-history]="isPage3Active" src="assets/vector-icon/history.png" alt="history"></p>
    </button>
  </li>
</ul>
