.footer{
  height: 100px !important;
  display: flex;
  justify-content: center;
  align-items:center;
  gap: 10vw;
  border-top: 1px white solid;

  position: fixed;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
}



// "relative" to create a positioning context for the img tag
.buttons li p {
  position: relative;
  width: 66px;
  height: 66px;
  border-radius: 50px;

}


// "absolute" to position it within the p tag circle
// The top and left properties are set to 50% each to move the top-left corner of the img tag to the center of the p tag circle.
// transform property is used to translate the img tag back by 50% of its own width and height to center it perfectly.
.buttons li p img {
  width:30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.active-icon-home{
  background-color:var(--color-green) !important;
}

.active-icon-add{
  background-color:var(--color-yellow)!important;

}

.active-icon-history{
  background-color:var(--color-pink)!important;
}

.default-icon {
  background-color:var(---color-light-navy);
}

// bg
.circle {
  position: relative;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-light-navy);
}


.circle-label {
  // default
  background-color: var(--color-light-navy);
  position: absolute;
  top: 50%;
  left: 30%;
  margin-top: 25px;
  transform: translate(-50%, -50%);
  width: 66px;
  height: 66px;

  text-align: center;
  line-height: 50px;
  transition: all;

}

.img-bg{
  background-color: var(--color-light-navy);

}


.circle button:checked + .circle-label {
  background-color: var(--color-yellow);
  transition: all;
}
