.header {
  // margin-top: 70px;
  height: 70px;
  border-bottom: 1px white solid;
  width: 100%;
  position: fixed;
  top: 0;
  box-sizing: border-box;
  // background-color:blue;
}

h4 {
  margin-left: 26px;
}

