
.scroll-container::-webkit-scrollbar {
  width: 4px;
  // height: 8px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--color-yellow);
  border-radius: 4px;
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-yellow);
}
.scroll-container {
  // margin-top:80px;
  height: calc(100vh - -39px);
  overflow-y: auto;
}
