<main>
  <p>Sélectionnez votre catégorie* :</p>

  <ul class="category flex">
    <li [class.active]="isShoppingSelected">
      <button>
        <p [class.active-icon-selected]="isShoppingSelected"><span>🛍️</span></p>
      </button>
    </li>

    <li [class.active]="isInscureSelected">
      <button>
        <p [class.active-icon-selected]="isInscureSelected"><span>💊</span></p>
      </button>
    </li>

    <li [class.active]="isWorkSelected">
      <button>
        <p [class.active-icon-selected]="isWorkSelected"><span>💼</span></p>
      </button>
    </li>

    <li [class.active]="isBrokedSelected">
      <button>
        <p [class.active-icon-selected]="isBrokedSelected"><span>💸</span></p>
      </button>
    </li>

    <li [class.active]="isCleanSelected">
      <button>
        <p [class.active-icon-selected]="isCleanSelected"><span>🧼</span></p>
      </button>
    </li>

    <li [class.active]="isAnotherSelected">
      <button>
        <p [class.active-icon-selected]="isAnotherSelected"><span>🤷‍♀️</span></p>
      </button>
    </li>
  </ul>

  <form [formGroup]="registerationForm">
    <div class="form">
      <label for="input">Quelle tâche avez vous à effectuer* ?</label>
      <input class="input" type="text" id="input" [(ngModel)]="newTask" formControlName="input" placeholder="Exemple : Faire les courses"><br>
    </div>

    <div>
      <label for="urgent"></label>
      <input type="radio" id="urgent" formControlName="urgent">&nbsp;&nbsp;La tâche est urgente ⚠️
    </div>

    <div class="flex fix">
      <button type="submit" class="valider" (click)="onSubmit()">Valider ma tâche</button>
    </div>
  </form>
</main>
