main {
  padding: 107px 26px 100px 26px;
}

.active-icon-selected {
  color: var(--color-yellow);
}


.category li p {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50px;
  background-color: var(--color-light-navy);

}

.flex {
  display: flex;
  justify-content: center;
}

ul {
  display: inline;
  gap: 10px;
  margin-top: 28px;
  margin-bottom: 28px;
}


.category li p span {
  width: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--color-light-navy);
}


.fix {
  position: relative;
}

.valider {
  background-color: var(--color-blue);
  height: 48px;
  width: 248px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 125px 0;

  position: fixed;
  z-index: 9999;
  bottom: 25px;
  /* distance from bottom */

}


textarea::placeholder {
  position: absolute;
  top: 10px;
  left: 10px;
}

textarea {
  line-height: 20px;
  /* ajuste la hauteur de ligne */
  border: none;
  background-color: var(--color-light-navy);
  margin-top: 28px;
  margin-bottom: 31px;
  width: 338px;
  height: 182px;

}

textarea:focus {
  outline: none;
  /* supprime la mise en évidence du focus */
}

// checkbox
.checkbox {
  width: 1.8em;
  height: 1.8em;
  border-radius: 50%;
  vertical-align: middle;
  background-color: var(--color-light-navy);
  appearance: none;
  -webkit-appearance: none;
  // outline: none;
  cursor: pointer;
}

input[type="checkbox"] {

  position: relative;
  width: 1.8em;
  height: 1.8em;
  border-radius: 50x;
  appearance: none;
  outline: 0;
  cursor: pointer;

  &::before {


    position: absolute;
    content: '';
    display: block;
    top: 3px;
    left: 7px;
    width: 8px;
    height: 12px;
    border-style: solid;
    border-color: white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    opacity: 0;
  }

  &:checked {
    color: white;
    border-color: var(--color-pink);
    background: var(--color-pink);

    &::before {
      opacity: 1;
    }
  }
}
// cat

.category-label{
  margin-bottom: 2.3vh;
}

.category-list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 3vh;

}


.circle {
  position: relative;
  justify-content: center;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--color-light-navy);
  cursor: pointer;
}

.icon{
  margin-right: 8px;
  background-color: var(--color-light-navy);
}

.circle-label {
  background-color: var(--color-light-navy);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
  border-radius: 50%;
  text-align: center;
  line-height: 50px;
  transition: all;

}

.circle input[type="radio"] {
  display: none;
}

.circle input[type="radio"]:checked + .circle-label {
  background-color: var(--color-yellow);
  transition: all;

}
.circle input[type="radio"]:checked + .circle-label span {
  background-color: var(--color-yellow); /* Set the background color to yellow */
}

