
<main>
  <form #myForm="ngForm" (ngSubmit)="onSubmit()" novalidate>

    <div>
      <label for="category">Sélectionnez votre catégorie* :</label>
      <select  id="category" name="category" [(ngModel)]="task.category" required>
        <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
      </select>
    </div>

    <div>
      <label for="content" >Quelle tâche avez vous à effectuer* ?</label>
      <textarea placeholder="Exemple : Faire les courses" id="content" name="content" [(ngModel)]="task.content" required></textarea>
    </div>

    <div>
      <input class="checkbox" type="checkbox" id="isUrgent" name="isUrgent" [(ngModel)]="task.isUrgent">
      <label for="isUrgent">&nbsp;&nbsp;La tâche est urgente ⚠️</label>

    </div>

    <!-- Not Edit mode -->
    <div class="flex fix" *ngIf="!isEditMode">
      <button class="valider" type="submit" [style.opacity]="myForm.valid ? 1 : 0.5" [disabled]="!myForm.valid">
        Valider ma tâche</button>
    </div>

    <!-- Edit mode -->
    <div class="flex fix" *ngIf="isEditMode">
      <button (click)="onSave()" class="valider" type="submit" [style.opacity]="myForm.valid ? 1 : 0.5" [disabled]="!myForm.valid">Modifier ma tâche</button>
    </div>
  </form>
</main>

