
  <!-- +1 -->
  <section class="one">
  <ul class="container" *ngIf="doneTasks.length > 0">
    <p class="space">Historique des tâches :</p>

    <li *ngFor="let task of doneTasks" class="space">
      <input class="circle" type="checkbox" (click)="onCheckboxClick($event, task)" />
      &nbsp;{{ task.isUrgent ? '⚠️' : '' }}&nbsp;&nbsp;{{task.category}}&nbsp;&nbsp;{{ task.content }}
    </li>
  </ul>
</section>



  <!-- 0 -->
<app-length0 emptyText="Votre historique est vide 😬"  buttonText="Créer une tâche" *ngIf="doneTasks.length === 0"></app-length0>

