<main>

  <!-- +1 -->
  <ul class="container">
    <p class="space">Historique des tâches :</p><br>

    <li *ngFor="let task of doneTasks" class="space">

      <input class="circle" type="checkbox" [(ngModel)]="task.doneDate" (click)="onCheckboxClick($event, task)" />
      &nbsp; &nbsp;{{task.category}}&nbsp;&nbsp;{{ task.content }}
    </li>
  </ul>

  <!-- 0 -->
  <section *ngIf="doneTasks.length === 0">
    <div class="flex">
      <div class="margin-button">Votre historique est vide 😬</div>
      <button class="button-aucune-tache" (click)="showAddTaskForm()">Créer une tâche</button>
    </div>
  </section>
</main>

<!--           (click)="onCheckboxClick($event, task)"  -->
