// .one {
//   background-color:green;
// }


.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  text-align: center;
  text-align: justify-content;
}

.margin-button {
  margin-bottom: 1em;
}

.button-aucune-tache {
  height: 48px;
  width: 248px;
  background-color: var(--color-blue);
  border-radius: 50px
}
