main {
  margin: 107px 26px 100px 26px;
}

.container {
  height: min(200px, 100%);
  /* set a fixed height for the container */
  overflow-y: auto;
  // --width: 200px;
}

.no-scroll {
  overflow-y: hidden;
}

.custom-side-menu {
  --width: 200px;
}



// checkbox
.checkbox-round {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  vertical-align: middle;
  border: 2px solid white;
  appearance: none;
  -webkit-appearance: none;
  // outline: none;
  cursor: pointer;
}

// .checkbox-round:checked {
//   background-color: gray;
// }
.space{
  margin-bottom: 1.5vh;

}
